################################################################################
#
# ProSync (Admin) Initialization Parameters
#
################################################################################

# (Mandatory paramters)
LOG_DIR=/home/prosync/prosync4_<<revision>>/var/admin/log
LOG_BACKUP_DIR=/home/prosync/prosync4_<<revision>>/var/admin/log/backup
 
# (Optional paramters)
#LOG_LEVEL=3
#LOG_FILE_SIZE=104857600
#LOG_BACKUP_SIZE=0
